.profile_container{
    width: 95%;
    margin: auto;
    padding-bottom: 25px;
}

.heading{
    text-align: center;
    margin-bottom: 20px;
}

.heading h2{
    margin-bottom: 1rem;
}

.form_container{
    max-width: 400px;
    margin: auto;
}

.form_control{
    width: 100%;
    margin: 20px auto;
}


input[type=text], select{
    width: 100%;
    padding: 12px;
    border: 1.95px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    outline: none;
}


.submit_container{
    width: 100%;
    margin: 20px auto;
    position: relative;
    background-color: rgb(30, 123, 185);
    padding: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    font-weight: bold;
    gap: 4px;
    justify-content: center;
}

.arrow{
    color: white;
}





